
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a,ul {
    text-decoration: none;
    list-style-type: none;
}
html{
    height: 100%;
}
body {
    min-width: 980px;
    font-family: 'PTSans-Regular',sans-serif;
    font-size: 14px;
    line-height: 22px;
    overflow-x: hidden;

}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.main{
    flex: 1 0 auto;
}
.header{
    width: 100%;
    height: 230px;
    background-color: #dcdcdc;
}
.container{
    margin: 0 auto;
    width: 980px;
    height: 100%;
    padding: 0 10px;
}


/*HEADER*/
.header_body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header_logo_body{
    margin: 65px auto 0 0;
}
.header_body_logo_img{
    width: 273px;
    height: 100px;
    margin-right: auto;
}
.header_body_logo_img img{
    width: 100%;
    height: 100%;
}
.header_number_body_tel{
    width: 256px;
    margin-left: auto;
    color: #767676;
    font-family: "Open Sans - Condensed Light",sans-serif;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 46px;
    text-align: right;
}
.header_number_body{
    margin: 35px 0 0 auto;
}
.header_number_body_tel a{
    color: #767676;
}
/*MENU*/
.menu{
    max-width: 100%;
    height: 80px;
    background-color: #777777;
}
.menu_list{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
}
.menu_list ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}
.menu_list ul li{
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    display:inline;
    text-align: center;
}
.menu_list ul li:not(:last-child):after{
    padding: 0 20px;
    content: "|";
}
.menu_list ul a{
    color: #ffffff;
}
.menu_list ul a:hover{
    border-bottom: 2px solid;
}
/*CONTENT*/
.content{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 200px;
}
.content_body{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.content_body_breadcrumbs{
    padding-bottom: 25px;
    text-align: left;
    color: #767676;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
}
.content_body_breadcrumbs ul{
    display: flex;
    justify-items: left;
}
.content_body_breadcrumbs ul li{
    margin: 0 5px;
}
.content_body_breadcrumbs ul li a{
    color: #767676;
    text-decoration: underline;
}
.content_body_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content_body_right{
    width: 780px;
    height: 100%;
    margin-left: auto;
}
.content_body_menu{
    width: 178px;
    height: 510px;
    margin-right: auto;
}
.content_body_menu_item{
    width: 100%;
    height: 50%;
}
.content_body_menu_item ul{
    color: #767676;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}
.content_body_menu_item ul li:not(:first-child){
    padding-top: 10px;
}
.content_body_menu_item ul li a:hover{
    text-decoration: underline;
}
.content_body_menu_item a{
    color:#767676;
}
.hover_list ul{
    display: none;
    padding-left:5px;
    font-style: normal;
    letter-spacing: 0.35px;
}
.hover_list ul li:before{
    content: '•';
    margin-right: 3px;
}
.hover_list ul li a:hover{
    color: #010101;
    font-style: normal;
    letter-spacing: 0.35px;
}
.hover_list:hover ul{
    display: inline-block;
}
.content_body_menu_logo{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.content_body_menu_logo img{
    width: 97px;
    height: 111px;
}
.content_body_list{
    width: 780px;
    height: 100%;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 20px;
}
.item_body{
    position: relative;
    width: 100%;
    height: 100%;
}
.content_body_list_item{
    height: 380px;
    width: 250px;
    background-color: #dcdcdc;
    padding: 20px 20px 14px 20px;
}
.content_body_list_item h1{
    color: #767676;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: normal;
    bottom: 0;
    left: 0;
}
.content_body_list_item a{
    color:#767676 ;
}
.content_body_list_item p{
    padding-bottom: 5px;
    color: #444444;
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    text-align: left;
    position: absolute;
    bottom: 0;
}

.buy-item{
    padding-right: 40px;
    position:absolute;
    bottom:0;
    right:0;
    width: 28px;
    height: 21px;
}

.body_logo_img{
    margin: 0 auto;
}
.content_body_menu_logo h2{
    text-align: center;
    color: #444444;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 25px;
}
.content_body_numbers{
    width: 100%;
    height: 100%;
    padding-bottom: 65px;
}
.content_body_numbers ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.content_body_numbers ul li{
    padding-right: 20px;
    color: #767676;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
}
.content_body_numbers ul li a{
    color: #767676;
}
.content_body_numbers ul li:nth-child(3){
    color: #444444;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}
.content_line{
    color: #777777;
}
.content_body_info{
    padding-top: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content_body_info_left{
    margin-right: auto;
    width: 371px;
    height: 100%;
    color: #767676;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}
.content_body_info_right{
    margin-left: auto;
    width: 368px;
    height: 100%;
    color: #767676;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}
/*FOOTER*/
.footer{
    margin-top: auto;
    height: 220px;
    width: 100%;
    background-color: #777777;
}
.footer_body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer_company, .footer_list, .footer_site{
    height: 100%;
    width: 100%;
}
.footer_company{
    padding-top: 50px;
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}
.footer_list{
    padding: 50px 0 0 40px;
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-decoration: underline;
}
.footer_list a{
    color: #ffffff;
}
.footer_site{
    padding: 50px 0;
    display: flex;
    justify-content: right;
}
.footer_site p{
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}
.footer_site p a{
    text-decoration: underline;
    color: #ffffff;
}
.footer_site:before {
    padding-right: 10px;
    content: url("../img/company.png");
}










